*{
    background-color: rgb(134, 33, 33);
    color: wheat;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

p{
    font-size: 2rem;
}

/*BATTEL*/
.battle{
    display: flex;
    justify-content:center;
    align-items: flex-start;
}


/*DIVIDER*/
.divider{
    background-color: black;
    width: 150px;
    height: 1px;
    transform: rotate(90deg);
    margin: auto 0;
}

/*PLAYER & COMPUTER*/
.computer{
    height: 160px;
}

ul{
    padding-left: 20px;
    margin: 0;
}

li{
    list-style-type: none;
    
}

button, #computer{
    text-decoration: none; 
    background-color: wheat;
    color: rgb(134, 33, 33);
    font-size: 1.3rem;
    padding: 5px 10px;
    margin: 10px 20px 10px 0;
    border: solid 1px grey;
    border-radius: 10px;
    background-color: wheat;
}

.container{
    margin-top: 35px;
}

button{
    cursor: pointer;
    width: 120px;
}

button:hover{
    background-color: brown;
    color: wheat;
    border: dotted 1px wheat;
}

/*REFRESH*/
#refresh{
    margin: 0 auto; 
}

/**/
.none{
    display: none;
}


@media only screen and (max-width:510px ){
    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 2rem;
    }

    p{
        font-size: 1.5rem;
    }
}